:root {
  --lime: #b6c649;
  --lime-dark: #7b872a;
  --bark: #2e2b25;
  --bark-light: #5c573e;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--lime-dark);
  background-color: var(--bark);
}

:visited,
:link {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", cursive;
  color: var(--lime);
}

footer {
  color: var(--bark-light);
}
